@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: rgb(82 82 91);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(113 113 122);
}